.u-center-text {
    text-align: center;
}

.u-margin-bottom-small {
    margin-bottom: 1.5rem;
}

.u-margin-bottom-small-three {
    margin-bottom: 3rem;
}

.u-margin-bottom-medium {
    margin-bottom: 4rem;

    @include respond(tab-port) {
        margin-bottom: 3rem;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem;

    @include respond(tab-port) {
        margin-bottom: 5rem;
    }
}

.u-margin-top-big-big {
    margin-top: 10rem;

    @include respond(tab-port) {
        margin-bottom: 5rem;
    }
}
.u-margin-top-big-big-big {
    margin-top: 20rem;

    @include respond(tab-port) {
        margin-bottom: 10rem;
    }
}
.u-margin-top-dva {
    margin-top: 2rem;
}

.u-margin-top-small {
    margin-top: 4rem;
}

.u-margin-top-big {
    margin-top: 8rem;
}

.u-margin-top-huge {
    margin-top: 10rem;
}

.u-margin-top-minus-small {
    margin-top: -4rem;
}

.u-margin-top-minus-big {
    margin-top: -8rem;
}

.u-margin-top-minus-huge {
    margin-top: -12rem;
}

.u-margin-left-for-buttons {
    margin-left: 4rem;
}