#about_me_gradnja {
    padding-top: 20rem;
    padding-bottom: 20rem;
    margin-bottom: 13rem;
    // background-image: linear-gradient(to bottom left,
    //   rgba($color-grey-light-3, 0.7),
    //   rgba($color-white, 0.8));
    // #icon-contrast {
    //   display: inline-block;
    //   width: 1em;
    //   height: 1em;
    //   stroke-width: 2rem;
    //   stroke: $color-primary-dark;
    //   fill: $color-primary;
    // }
  
    .content {
      p {
        color: $color-primary-dark;
      }
      
    @include respond(tab-land) {
      margin-left: 6rem;
    } 
    @include respond(tab-port) {
  
      margin: 0;
    } 
    }
  
    .heading-secondary {
      @include respond(phone) {
        margin-top: -1rem;
        margin-bottom: 1rem;
      }
  
    }
    .logo_titan{
      img{
        max-width: 100%;
        // margin-left: 15rem;
  
        @include respond(tab-land) {
          width: 80%;
          margin-top: 6rem;
        } 
        @include respond(tab-port) {
          width: 100%;
          // margin: 0;
        } 
      }
  
    }
  
    @include respond(tab-land) {
      padding-bottom: 20rem;
    }
  
    p {
      color: $color-primary-dark;
      font-size: $default-font-size;
    }
  
  }
  .about_us{
    margin: 15rem 0 25rem 0;
    .intro {
      position: relative;
      .bg-faded {
        background-image: linear-gradient(to right bottom,
        rgba($color-primary-dark, 0.9),
        rgba($color-black, 0.8));
      }
      .content{
        p{
          text-align: left;
          color: $color-grey-light-1;
          font-size: 1.2rem;
          margin-bottom: 2.6rem;
        }
      }
      @media (min-width: 992px) {
        .intro-img {
          box-shadow: 1.2rem 1.5rem 2rem rgba(0, 34, 62, 0.2);
          width: 80%;
          float: right;
          transition: .3s ease-in-out;
  
          &:hover{
          box-shadow: .6rem .6rem .6rem rgba(0, 34, 62, 0.2);
            
          }
        }
        .intro-text {
          left: 0;
          width: 60%;
          margin-top: 9rem;
          position: absolute;
  
          .intro-button {
            width: 100%;
            left: 0;
            position: absolute;
            bottom: -2rem;
            text-decoration: none;
          }
        }
      }
    
    }
  }
  .titangradnja-banner {
    margin: 0 auto;
    max-width: 114rem;
    padding-top: 550px;
    padding-bottom: 120px;

    .portfolio_image_wrap {
        position: absolute;
        top: 55vh;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        height: 650px;
        text-align: center;
        z-index: 999;
        width: 55vw;
        overflow: hidden;
        box-shadow: 0px 0px 23px 0px #292929;

        .portfolio_image {
            width: 100%;
        }
    }

    .care_title {
        margin-top: 2.5rem;
        text-align: center;
        font-size: 5.5rem;
    }

    .care_subtitle {
        font-size: 1.5rem;
        max-width: 50vw;
        text-align: center;
        margin: 0 auto;
        margin-top: 1.7rem;
    }
}
.titangradnja-paralax {
  background: linear-gradient(rgba($color-primary-dark, 0.7), rgba($color-primary-dark, 0.7)), url(../../img/machinery.jpg) center/cover fixed no-repeat;
  height: 400px;

  .paralax-wrap {
      display: flex;
      height: 100%;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      .paralax-heading {
          text-align: center;
          font-size: 5.2rem;
          font-weight: bold;
          text-shadow: 0 0 5px #1d1d1d;
          color: white;
      }

      .paralax-btn {
          text-align: center;
          padding: 1rem 3.8rem;
          margin-top: 3rem;
          font-size: 2.6rem;
      }
  }
}

// GALLERY


.gallery-container{
  max-width: 1450px;
  h2 {
    text-align: center;
    margin: 5rem 0;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    font-size: 3rem;
  }
  margin-bottom: 10rem;  
  margin-top: 10rem;
}

.tz-gallery {
  padding: 40px;
}

/* Override bootstrap column paddings */
.tz-gallery .row > div {
  padding: 2px;
}

.tz-gallery .lightbox img {
  width: 100%;
  border-radius: 0;
  position: relative;
}

.tz-gallery .lightbox:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: rgba($color-primary-dark, 0.7);
  content: '';
  transition: 0.4s;
}

.tekst-img {
  position: absolute;
  bottom: 0;
  left: 0;
  opacity:1;
  margin: 2rem;
  text-align: center;
  color: $color-white;
  font-size: 1.5rem;
  transition: 0.4s;
}



.tz-gallery .lightbox:hover:after,
.tz-gallery .lightbox:hover:before {
  opacity: 1;
}

.baguetteBox-button {
  background-color: transparent !important;
}
