.header {
  height: 70vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.9),
    rgba($color-black, 0.17)),
    url(../../img/sunset.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  overflow: hidden;
  .heading-primary--sub{
    font-size: 6.5rem;
  }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,
      100% 0,
      100% 0,
      100% 80%,
      50% 90%,
      0 80%,
      0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 175em) {
    background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8));
  }


  .header__portfolio {
    @include absCenter-top;
    position: absolute;
    width: 100vw;
    height: 20vh;
    text-align: center;

  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .btn--whitee{
      margin-right: 2rem;
    }


    @include respond(phone) {
      top: 20%;
      width: 100%;
    }
  }
}

// .gallery { 
// 	max-width: 1200px;
//   margin: auto;
//   position: absolute;
//   top: 60%;
//   left: 50%;
//   transform: translate(-50%, -50%);

// }
// .gallery { 
//   padding : 2px;
//   padding: 0.4vw;
//   font-size: 0;
//   display: -ms-flexbox;
//   -ms-flex-wrap: wrap;
//   -ms-flex-direction: column;
//   -webkit-flex-flow: row wrap; 
//   flex-flow: row wrap; 
//   display: -webkit-box;
//   display: flex;
// }
// .gallery div { 
//   -webkit-box-flex: auto;
//   -ms-flex: auto;
//   flex: auto; 
//   width: 200px; 
//   margin: 0.5vw; 
// }
// .gallery div img { 
//   width: 100%; 
//   height: auto; 
// }


.header-gradnja {
  height: 120vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.9),
    rgba($color-black, 0.17)),
    url(./../../img/sunset.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  overflow: hidden;
  .heading-primary{
    margin-top: 15rem;
  }

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,
      100% 0,
      100% 0,
      100% 80%,
      50% 90%,
      0 80%,
      0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 175em) {
    background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8));
  }


  .header__portfolio {
    @include absCenter-top;
    position: absolute;
    width: 100vw;
    height: 50vh;
    text-align: center;

  }

  &__text-box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .btn--whitee{
      margin-right: 2rem;
    }


    @include respond(phone) {
      top: 45%;
      width: 100%;
    }
  }

  .fa-chevron-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    display: inline-block;
    width: 12px;
    margin-left: -12px;
    font-size: 36px;
    line-height: 14px;
    z-index: 999;
    -webkit-animation: bounce 4000ms infinite;
    animation: bounce 3000ms infinite;
    transition: 1s ease-in-out;

    @include respond(lumia) {
      font-size: 2rem;
    }


    &:hover {
      color: $color-primary-light;
    }
  }
}
// .d-block{
//   width: 60%;
//   margin: 0 auto;
// }

// .carousel-inner{
//   margin-top: 15rem;
// }

.blue{
  background-color:$color-primary-dark;
  margin-top: -15rem;
  height: 50vh;
}

.img_box{
  width: 90%;
  // margin: 1rem auto;
  position: relative;
}
.owl-carousel .owl-item.active.center{
  transform: scale(1.6);
  z-index: 999;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.owl-carousel .owl-item{
  transform: scale(0.8);
  transition: all 0.5s;
}


.header-exclusive {
  height: 80vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.9),
    rgba($color-black, 0.17)),
    url(../../img/sunset.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  overflow: hidden;
  .heading-primary{
    margin-top: 15rem;
  }

  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,
      100% 0,
      100% 0,
      100% 80%,
      50% 90%,
      0 80%,
      0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 85%, 50% 95%, 0 85%, 0 0);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 175em) {
    background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8));
  }


  .header__portfolio {
    @include absCenter-top;
    position: absolute;
    width: 100vw;
    height: 50vh;
    text-align: center;

  }

  &__text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    .btn--whitee{
      margin-right: 2rem;
    }


    @include respond(phone) {
      top: 45%;
      width: 100%;
    }
  }

  .fa-chevron-down {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-white;
    display: inline-block;
    width: 12px;
    margin-left: -12px;
    font-size: 36px;
    line-height: 14px;
    z-index: 999;
    -webkit-animation: bounce 4000ms infinite;
    animation: bounce 3000ms infinite;
    transition: 1s ease-in-out;

    @include respond(lumia) {
      font-size: 2rem;
    }


    &:hover {
      color: $color-primary-light;
    }
  }
}
.header_istorijat {
  height: 120vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.2),
    rgba($color-black, 0.9)),
    url(../../img/berlin.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  overflow: hidden;
  .heading-primary--sub{
    font-size: 4rem;
  }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,
      100% 0,
      100% 0,
      100% 80%,
      50% 90%,
      0 80%,
      0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 175em) {
    background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8));
  }


  .header__portfolio {
    @include absCenter-top;
    position: absolute;
    width: 100vw;
    height: 20vh;
    text-align: center;

  }

  .text-box__istorijat {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


    .btn--whitee{
      margin-right: 2rem;
    }


    @include respond(phone) {
      top: 20%;
      width: 100%;
    }
  }
  .header-istorijat{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    text-align: center;
    color: $color-white;
    font-size: 2rem;
  }
}

.header_partneri {
  height: 80vh;
  background-image: linear-gradient(to right bottom,
    rgba($color-primary-dark, 0.5),
    rgba($color-black, 0.9)),
    url(../../img/adventure.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  position: relative;
  overflow: hidden;
  .heading-primary--sub{
    font-size: 4rem;
  }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    -webkit-clip-path: polygon(0 0,
      100% 0,
      100% 0,
      100% 80%,
      50% 90%,
      0 80%,
      0 0);
    clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 50% 95%, 0 80%, 0 0);
  }

  @media only screen and (min-resolution: 192dpi) and (min-width: 37.5em),
  only screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: 37.5em),
  only screen and (min-width: 175em) {
    background-image: linear-gradient(to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8));
  }


  .header__portfolio {
    @include absCenter-top;
    position: absolute;
    width: 100vw;
    height: 20vh;
    text-align: center;

  }

  .text-box__istorijat {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;


    .btn--whitee{
      margin-right: 2rem;
    }


    @include respond(phone) {
      top: 20%;
      width: 100%;
    }
  }
}