.about_nav {
    background: transparent;
}

.menu {
    height: 12rem;

    .circlegreen {
        // position: absolute;
        // top: 5.7rem;
        // left: 0;
        // width: 2rem;
        // height: 2rem;
        // background: $color-primary;
        // border-radius: 50%;
        // // animation: a-ltr-circle-move-left 10s ease-in-out infinite;
        // // animation-delay: 3s;
        // // opacity: 0;

        @include respond(tab-port) {
            display: none;
            background: none;

        }
    }
}

nav {
    position: relative;
    width: 100%;
    // background: $color-primary-dark;
    background: linear-gradient(to right bottom,
            rgba($color-primary-dark, 0.6),
            rgba($color-black, 0.7));
    // background: linear-gradient(to left bottom,
    // rgba($color-primary-dark, 0.9),
    // rgba($color-primary-light, 0.5));
    z-index: 10292039402920;

    @include respond(tab-port) {
        background: none;
    }

    ul {
        line-height: 2.5rem;
        max-width: 118rem;
        list-style: none;
        color: #fff;
        padding: 0;
        margin: 0 auto;
        transition: 1s all ease-in-out;
        text-align: right;

        @include respond(tab-port) {
            max-height: 0px;
            padding: 0;
            line-height: 2rem;
            overflow: hidden;
        }

        li {
            text-decoration: none;
            margin-top: 2.3rem;
            display: inline-block;
            padding: 2rem 3.4rem;


            @include respond(tab-port) {
                box-sizing: border-box;
                width: 100%;
                padding: 1.5rem 2rem;
                text-align: left;
                margin: 0 auto;
                border-bottom: 0.1rem solid #4272a54a;

                &:last-child {
                    border: none;
                }
            }

            a {
                text-decoration: none;
                font-size: 1.7rem;
                font-weight: 100;
                color: $color-white;
                animation: scrolldown .3s ease-in-out backwards;
                animation-delay: .1s;
                transition: color 0.4s ease-in-out;

                &:hover {
                    color: $color-primary-light;
                    text-decoration: none;
                }
            }
        }

        .services {
            position: relative;

            .services-links {
                display: none;
                position: absolute;
                background: rgba(0, 0, 0, 0.4);
                overflow: hidden;
                top: 90px;
                left: 0;
                transition: none;

                li {
                    width: 100%;
                    text-align: left;
                    padding: 0.35rem 3.4rem;
                    font-size: 1.5rem;
                    border-bottom: 0.1rem solid #4272a54a;
                    margin-top: 1.5rem;
                }
            }
        }
    }

    .logo {
        width: 25%;
        position: absolute;
        text-align: left;
        margin: 5rem auto;
        // animation: moveInLeftLogo 2s ease-in-out;
        // animation-delay: 2s;
        // transition: color 0.4s ease-in-out;

        @media all and (max-width: 2560px) {
	
            width: 21%;
        }

        img {
            width: 40%;
        }

        @include respond(tab-port) {
            top: -1rem;
            //    width: 20rem;
            margin-left: 2rem;
        }
    }

    .menu-icon {
        line-height: 3.2rem;
        background: rgba(0, 0, 0, 0.3);
        text-align: right;
        box-sizing: border-box;
        padding: 2.3rem 2.4rem;
        cursor: pointer;
        color: #fff;
        display: none;

        @include respond(tab-port) {
            display: block;
        }
    }

    .black {
        ul {
            @include respond(tab-port) {
                background: rgba(0, 0, 0, 0.3);
            }
        }
    }
}

.showing {
    @include respond(tab-port) {
        background: rgba(0, 0, 0, 0.3);
        max-height: 40em;
    }
}

.testtest {
    background: blueviolet;
}