
.partneri{
margin-top: 5rem;
margin-bottom: 20rem;
max-width: 120rem;
.our-team {
        padding: 30px 0 70px;
        margin-bottom: 30px;
        border-radius: 5px;
        background-color: $color-primary-dark;
        text-align: center;
        overflow: hidden;
        position: relative;
    
    
    
    
        .picture {
            display: inline-block;
            height: 130px;
            width: 130px;
            margin-bottom: 50px;
            z-index: 1;
            position: relative;
    
            &:before {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color: $color-grey-light-1;
                position: absolute;
                bottom: 135%;
                right: 0;
                left: 0;
                opacity: 0.9;
                transform: scale(3);
                transition: all 0.3s linear 0s;
              }
    
              &:after {
                content: "";
                width: 100%;
                height: 100%;
                border-radius: 50%;
                background-color:  $color-white;
                position: absolute;
                top: 0;
                left: 0;
                z-index: -1;
              }
              img {
                width: 100%;
                height: auto;
                border-radius: 50%;
                transform: scale(1);
                transition: all 0.9s ease 0s;
              }
              
          }
    
          &:hover .picture::before {
            height: 100%;
          }
    
          &:hover .picture img {
            box-shadow: 0 0 0 18px $color-primary-dark;
            transform: scale(.8);
          }
    
          .title {
            display: block;
            font-size: 2rem;
            margin-bottom: 5rem;
            color: $color-white;
            text-transform: capitalize;
          }
          .social {
            width: 100%;
            // padding: 1rem;
            margin: 0;
            background-color:  $color-primary-dark;
            position: absolute;
            // bottom: -100px;
            // left: 0;
            // transition: all 0.5s ease 0s;
          }
          
      }
      
}

// Modal



  .modal-body{
      background-color: $color-primary-dark;
      padding: 3rem;
      .modalpicture{
        img{
        border-radius: 50%;
        }
      }
      .iks{
          font-size: 2rem;
          color: $color-white;
      }
  }
  .textinmodal{
    color: $color-white;

    .intro-title {
        margin-bottom: 1rem;
        font-weight: 400;
        font-size: 4rem;
      }
      h3{
          font-size: 2rem;
          margin-bottom: 2rem;
      }
      p{
          font-size: 1.2rem;
          text-align: left;
      }
  }
  
  @media (max-width: 575px) {
    .modal-body .col-sm-4 {
      text-align: center;
      margin-top: 25px;
    }
  }
  @media (min-width: 576px) {
    .modal-dialog {
        max-width: 650px;
    }
  }


    
  
  