.section-portfolio {
    .heading-secondary {
        font-size: 2.8rem;
        margin-top: 6rem;
    }

}

.card {

    // FUNCTIONALITY
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    height: 52rem;

    &__side {
        height: 54rem;
        transition: all .8s ease;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        border-radius: 3px;
        overflow: hidden;
        // box-shadow: 0 1.5rem 1rem rgba($color-black, .15);


        &--front {
            background-color: $color-white;
        }

    }


    // FRONT SIDE STYLING
    &__picture {
        background-size: cover;
        height: 23rem;
        background-blend-mode: screen;
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;

        &--1 {
            background-image:
                url(../../img/architecture.jpg);
        }

        &--2 {
            background-image:
                url(../../img/architecture2.jpg);
            // background-image:
            //     url(../../img/excavators.jpg);
            background-size: cover;
            background-position: center;
        }

        &--3 {
            background-image: url(../../img/architecture3.jpg);
            background-size: cover;
            background-position: center;
        }
    }

    &__heading {
        font-size: 2.6rem;
        font-weight: 300;
        text-transform: uppercase;
        text-align: right;
        color: $color-white;
        position: absolute;
        top: 12rem;
        right: 2rem;
        width: 75%;

    }

    &__heading-span {
        padding: 1rem 1.5rem;
        -webkit-box-decoration-break: clone;
        box-decoration-break: clone;

        &--1 {
            background-image: linear-gradient(to left bottom,
                rgba($color-primary-dark, .9),
                rgba($color-primary-dark, .2));
        }

        &--2 {
            background-image: linear-gradient(to right bottom,
                rgba($color-primary-dark, .9),
                rgba($color-primary-dark, .2));
        }

        &--3 {
            background-image: linear-gradient(to left bottom,
                rgba($color-primary-dark, .9),
                rgba($color-primary-dark, .2));
        }
    }

    &__details {
        padding: 3rem;
        text-align: center;

        p {
            font-size: 2rem;
            color: $color-primary;
            font-weight: 700;
            text-align: left;

        }
        h2{
            font-size: 2rem;
            color: $color-primary-dark;
            text-transform: uppercase;
        }
        .small__text{
            padding-top: 1rem;
            margin-bottom: 2rem;
            font-size: 1.5rem;
            color: #2a282a;
        }
    }


    //@include respond(tab-port) {
    @media only screen and (max-width: 56.25em),
    only screen and (hover: none) {

        height: auto;
        border-radius: 3px;
        background-color: $color-white;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

        &__side {
            height: auto;
            position: relative;
            box-shadow: none;


        }

        &:hover &__side--front {
            transform: rotateY(0);
        }


        &__details {
            padding: 1rem 3rem;

            .btn--whitee{
                margin-bottom: 2rem;
            }
        }

        // FRONT SIDE STYLING

    }

}