body{
  overflow-x: hidden;
}
.rtable {
    /*!
    // IE needs inline-block to position scrolling shadows otherwise use:
    // display: block;
    // max-width: min-content;
    */
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
    
    overflow-x: auto;
    
    // optional - looks better for small cell values
    white-space: wrap;
  
    border-collapse: collapse;
    border-spacing: 0;
    margin-top: 2rem;
  }
  
  .dataTable-table>tbody>tr>td{
    @media all and (max-width: 420px) {
	
      padding: 2px 2px;
   }
  }
  .dataTable-table>thead>tr>th{
    padding: 3px 3px;
  }
  
  .rtable th {
    font-size: 1.6rem;
    text-align: left;
    color: $color-white;
    text-transform: uppercase;
    background: $color-primary-dark;
    @media all and (max-width: 420px) {
	
      font-size: 1.4rem;
   }
  }
  
  .rtable th,
  .rtable td {
    // color: $color-white;
    
    // background: $color-primary-dark;
    border: 1px solid $color-grey-light-2;
  }
  
  .rtable td {
    font-size: 1.43rem;
    color: $color-primary-dark;
    transition: .5s ease-in-out;

    @media all and (max-width: 420px) {
	
      font-size: 1.2rem;

   }
    &:hover{
      background: $color-grey-light-2;
    }
  }
  
  .heading-secondary-project{
      font-size: 2.4rem;
      text-align: center;
      color: $color-primary-dark;
  }
  .heading-secondary-medium-project{
      font-size: 1.8rem;
      text-align: center;
      color: $color-primary-light;
  }


.dataTable-top{
  display: none;
}

.dataTable-bottom{
  // display: flex;
  // align-items: center;
  // justify-content: center;
  padding: 0;
}
.dataTable-pagination{
  .pager{
    a{
      font-size: 1.5rem;
      color: $color-white;
      background: $color-primary-dark;
    }
  }
  li{
    a{
      color: $color-white;
      background: $color-primary-dark;
      font-size: 1.5rem;
    }
  }
  
}
.dataTable-info{
  display: none;
}

.carousel-inner,.carousel,.carousel-item,.container,.fill {
  height: 100%;
  width: 100%;
  background-position:center;
  background-size:cover;
  margin: 0 auto;


  @include respond(tab-middle) {
    width: 470px;
  }
  @media (min-width: 992px) {
    width: 400px;
  }
  
  @include respond(phone) {
    width: 350px;
  }
  @media (max-width: 380px) {
    width: 300px;
  }
  @media (max-width: 320px) {
    width: 240px;
  }


}

.fill{
  
  img{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    width:100%;

    @include respond(tab-middle) {
      width: 350px;
    }
    @media all and (max-width: 420px) {
	
      width: 250px;
   }
    @media all and (max-width: 380px) {
	
      width: 200px;
   }
  }
  .heading-secondary-medium-project{
    margin-bottom: 1rem;
  }
}


.carousel-indicators {
  li{
    border:3px solid $color-primary-dark; 
    bottom: -50px;
    @include respond(phone) {
      display: inline;
    }
  }
  .active{
    border: 3px solid $color-primary-light;
  }
}
  



// .carousel-control-prev-icon{
//   background-color: $color-primary-dark;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
// }
// .carousel-control-prev{
//   opacity: 1;
//   width: 5%;

// }
// .carousel-control-next{
//   opacity: 1;
//   width: 5%;
// }
// .carousel-control-next-icon{
//   background-color: $color-primary-dark;
//   width: 20px;
//   height: 20px;
//   border-radius: 50%;
// }


// arrow
#svg{
  display: none;
}

@media (max-width: 599px) {
  #svg {
    display: block;
    position: absolute;
    bottom: 39%;
    left: 43%;
    transform: translate(-50%, -50%);
    $animation_speed: 5s;
    width: 50px;
    transform: rotate(-270deg);
    
    #first-arrow {
      animation: first-arrow infinite $animation_speed;
      opacity: 0;
    }
    
    #second-arrow {
      animation: second-arrow infinite $animation_speed;
    }
  
    #third-arrow {
      animation: third-arrow infinite $animation_speed;
    }
  }
  
  @keyframes third-arrow {
      0% {
        transform: translateY(0);
      }  
      33% {
        transform: translateY(20.4px);
      }
      34% {
        opacity: 0;
        transform: translateY(-40.8px);
      }
      67% {
        opacity: 1;
        transform: translateY(-20.4px);
      }
      100% {
        transform: translateY(0);
      }
      
  }
  
  @keyframes second-arrow {
      0% {
        transform: translateY(0);
      }
      33% {
        transform: translateY(20.4px);
      }
      66% {
        opacity: 0;
        transform: translateY(40.8px);
      }
      67% {
        transform: translateY(-20.4px);
        opacity: 0;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }
  
  @keyframes first-arrow {
      0% {
        opacity: 0;
        transform: translateY(0);
      }
      33% {
        opacity: 1;
        transform: translateY(20.4px);
      }
      66% {
        transform: translateY(40.8px);
      }
      99% {
        opacity: 0;
        transform: translateY(61.2px);
      }
      100% {
        transform: translateY(0);
      }
  }
}

